<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Vending</title>
</head>
<body class="bg-light">
<h1 class="text-center bg-info">Vending Machine</h1>
<div class="container-fluid">
    <div class="row mb-3 themed-grid-col">
        <div class="col-4 bg-dark text-primary">
            <div class="row">
                <div class="col-4">
                    <h4 class="text-center">{{machine.items[1].name}}</h4>
                    <p class="text-center">{{"%0.2f"|format(machine.items[1].price/100)}}</p>
                    <button class="btn btn-primary btn-lg btn-block text-center" id="select1">Select <span class="badge badge-light">{{ machine.items[1].stock }}</span></button>
                </div>
                <div class="col-4">
                    <h4 class="text-center">{{machine.items[2].name}}</h4>
                    <p class="text-center">{{"%0.2f"|format(machine.items[2].price/100)}}</p>
                    <button class="btn btn-primary btn-lg btn-block text-center" id="select2">Select <span class="badge badge-light">{{ machine.items[2].stock }}</span></button>
                </div>
                <div class="col-4">
                    <h4 class="text-center">{{machine.items[3].name}}</h4>
                    <p class="text-center">{{"%0.2f"|format(machine.items[3].price/100)}}</p>
                    <button class="btn btn-primary btn-lg btn-block text-center" id="select3">Select <span class="badge badge-light">{{ machine.items[3].stock }}</span></button>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Coins Inserted</h3>
                    <p class="text-center coinsinserted" id="coinsinserted">{{"%0.2f"|format(machine.wallet.totalCoins/100)}}</p>
                    <button class="btn btn-danger text-center" id="btReturn">Return</button>
                    <button type="button" class="btn btn-outline-success" id="bt005">In 0.05</button>
                    <button type="button" class="btn btn-outline-success" id="bt010">In 0.10</button>
                    <button type="button" class="btn btn-outline-success" id="bt025">In 0.25</button>
                    <button type="button" class="btn btn-outline-success" id="bt100">In 1.00</button>
                </div>
            </div>
            <div class="row">
                <hr class="bg-light"/>
            </div>
        </div>
        <div class="col-4 themed-grid-col">
            <h3>Status CashBox</h3>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">CashBox Coins</th>
                        <th scope="col">Wallet Coins</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">0.05</th>
                        <td>{{ machine.cashBox.coin005 }}</td>
                        <td>{{ machine.wallet.coin005 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">0.10</th>
                        <td>{{ machine.cashBox.coin010 }}</td>
                        <td>{{ machine.wallet.coin010 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">0.25</th>
                        <td>{{ machine.cashBox.coin025 }}</td>
                        <td>{{ machine.wallet.coin025 }}</td>

                    </tr>
                    <tr>
                        <th scope="row">1.00</th>
                        <td>{{ machine.cashBox.coin100 }}</td>
                        <td>{{ machine.wallet.coin100 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Total</th>
                        <td> {{"%0.2f"|format(machine.cashBox.totalCoins/100)}}</td>
                        <td>{{"%0.2f"|format(machine.wallet.totalCoins/100)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4 themed-grid-col bg-danger">
            <h3>Maintenance</h3>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">CashBox Coins</th>
                            <th scope="col">Items</th>
                            <th scope="col">Items Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">0.05</th>
                        <td><input type="number" id="r005" style="width: 80px" min="0"/></td>
                        <td>{{ machine.items[1].name }}</td>
                        <td><input type="number" id="i001" style="width: 80px" min="0"/></td>
                    </tr>
                    <tr>
                        <th scope="row">0.10</th>
                        <td><input type="number" id="r010" style="width: 80px" min="0"/></td>
                        <td>{{ machine.items[2].name }}</td>
                        <td><input type="number" id="i002" style="width: 80px" min="0"/></td>
                    </tr>
                    <tr>
                        <th scope="row">0.25</th>
                        <td><input type="number" id="r025" style="width: 80px" min="0"/></td>
                        <td>{{ machine.items[3].name }}</td>
                        <td><input type="number" id="i003" style="width: 80px" min="0"/></td>

                    </tr>
                    <tr>
                        <th scope="row">1.00</th>
                        <td><input type="number" id="r100" style="width: 80px" min="0"/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button type="button" class="btn btn-warning btn-block" id="btrecharge">Recharge</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script type="text/javascript">

    $(function () {

        $("#btReturn").click(function () {
            var url = '/api/returnwallet';
            var postData = '';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });
        $("#bt005").click(function () {
            var url = '/api/insertcoin';
            var postData = '{"coin100": 0,"coin025":0,"coin010":0,"coin005":1}';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });
        $("#bt010").click(function () {
            var url = '/api/insertcoin';
            var postData = '{"coin100": 0,"coin025":0,"coin010":1,"coin005":0}';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });
        $("#bt025").click(function () {
            var url = '/api/insertcoin';
            var postData = '{"coin100": 0,"coin025":1,"coin010":0,"coin005":0}';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });
        $("#bt100").click(function () {
            var url = '/api/insertcoin';
            var postData = '{"coin100": 1,"coin025":0,"coin010":0,"coin005":0}';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });

        $("#select1").click(function () {
            var url = '/api/selectitem';
            var postData = '{"position": 1}';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });
        $("#select2").click(function () {
            var url = '/api/selectitem';
            var postData = '{"position": 2}';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });
        $("#select3").click(function () {
            var url = '/api/selectitem';
            var postData = '{"position": 3}';
            $.post(url, postData, function (data, status) {
                location.reload();
            },'json');
        });
        $("#btrecharge").click(function () {
            var url = '/api/charge';
            var postData = {
                coin005: $("#r005").val(),
                coin010: $("#r010").val(),
                coin025: $("#r025").val(),
                coin100: $("#r100").val(),
                stock01: $("#i001").val(),
                stock02: $("#i002").val(),
                stock03: $("#i003").val()
                };

            $.post(url, JSON.stringify(postData), function (data, status) {
                location.reload();
            },'json');
        });

    });

</script>
</body>
</html>